*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/dictionaries
/.idea/deploymentTargetDropDown.xml
/.idea/jarRepositories.xml
vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
